#app{font-family:Avenir,Helvetica,Arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-align:center;color:#2c3e50;margin-top:60px}.record[data-v-613dbf4a]{margin-top:10px}.pages[data-v-613dbf4a]{margin-top:25px}
/*# sourceMappingURL=app.e27b19184d52a7dae13c45e3329d57ab.css.map */